venv
data/*
output/*
__pycache__

weight/*.npy

!data/가평_2019.xlsx
!data/가평_full_2019.xlsx
!data/서상_2019.xlsx
!data/의암호_2019.xlsx
!data/의암호_full_2019.xlsx
!data/화천_2019.xlsx

!input/가평_2019.xlsx
!input/서상_2019.xlsx
!input/의암호_2019.xlsx
!input/화천_2019.xlsx

savedata