{% load static %}

<script src="{% static 'assets/jquery/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/dropzone/js/dropzone.min.js' %}"></script>
<script src="{% static 'assets/chartjs/js/Chart.min.js' %}"></script>
<script src="{% static 'assets/jquery-ui/js/jquery-ui.min.js' %}"></script>
<script src="{% static 'assets/highlight/js/highlight.min.js' %}"></script>
<script src="{% static 'assets/js/tooltip.js' %}"></script>
<script>hljs.initHighlightingOnLoad();</script>