{% extends "include/base.html" %}
{% load static %}
{% block content %}
    <div class="sub_wrap">
        <div class="sub_title">
            <div class="inner">
                <h1>사이트 소개</h1>
                <div class="page-navi">
                    <span>수질 예측 시스템</span>
                    <span class="active">사이트 소개</span>
                </div>
            </div>
        </div>
        <div class="sub_content">
            <div class="inner">
                가가가
            </div>
        </div>
    </div>
{% endblock %}


{% block javascript %}
    <script>

    </script>

{% endblock %}
