{% extends "backend/layout/base.html" %}
{% load static %}
{% block content %}
    <input id='csrf_token' value='{{ csrf_token }}' hidden>

    <script src="https://cdn.jsdelivr.net/npm/exif-js"></script>
    <script src="https://cdn.jsdelivr.net/d3js/3.5.9/d3.min.js"></script>
    <form>
        <input type="button" value="add" onclick="polygonStart()"/>
        <input type="button" value="remove" onclick="polygonDelete()"/>
    </form>

    </div>
{% endblock %}


{% block javascript %}
    <script>
        var svg = d3.select('body').append('svg').attr({'width': 500, 'height': 500});
        var path, pathArray = [], isClicking = false, firstClick = true, count = 4,
            m1, m2, x, y, lastX, lastY;

        var lineFunction = d3.svg.line()
            .x(function (d) {
                return d.x;
            })
            .y(function (d) {
                return d.y;
            })
            .interpolate("linear-closed");
        var dragP = d3.behavior.drag().on('drag', dragPath),
            dragC = d3.behavior.drag().on('drag', dragCircle);
        function dragPath(dataSource) {
            console.log('dragPath--', dataSource);
            path.attr('fill', 'gray');
            var e = d3.event;
            console.log(e);
            pathArray.forEach(function (datum, index) {
                datum.x += e.dx;
                datum.y += e.dy;
            });
            updatePath();
            updateCircle();
        }

        function dragCircle(dataSource) {
            console.log('dragCircle', dataSource);
            var e = d3.event;
            dataSource.x += e.dx;
            dataSource.y += e.dy;
            updateCircle();
            updatePath();
        }

        function updatePath() {
            if (!path) {
                path = svg.append('path');
            }

            path.attr('d', lineFunction(pathArray)).attr('fill', 'black');
        }

        function drawCircle() {
            circle = svg.selectAll('circle').data(pathArray);
            circle.enter().append('circle').attr('r', 10);
            circle.attr('cx', function (d) {
                return d.x;
            })
                .attr('cy', function (d) {
                    return d.y;
                });
        }

        function updateCircle() {
            circle.attr('cx', function (d) {
                return d.x;
            })
                .attr('cy', function (d) {
                    return d.y;
                });
        }

        function intersects(x, y, cx, cy, r) {
            var dx = x - cx,
                dy = y - cy;
            return dx * dx + dy * dy <= r * r;
        }

        svg.on('mousedown', mousedown);

        function mousedown() {
            m1 = d3.mouse(this);
            //console.log(m1, m2);
            for (var i = 0; i < pathArray.length - 1; i++) {
                var dataPt = pathArray[i];
                if (intersects(m2[0], m2[1], dataPt.x, dataPt.y, 10)) {
                    isClicking = false;
                    path.attr('fill', 'gray');
                    path.call(dragP);
                    d3.selectAll('circle').call(dragC);
                    break;
                }
            }
            console.log('path',path);
            console.log('d3.selectAll(\'circle\')',d3.selectAll('circle'))
            if (firstClick) {
                isClicking = true;
                console.log('if firstClick');
                pathArray = [{'x': m1[0], 'y': m1[1]}, {'x': m1[0], 'y': m1[1]}];
                drawCircle();
                updatePath();
                firstClick = !firstClick;
            } else if (isClicking) {
                isClicking = true;
                console.log('else if isClicking');
                drawCircle();
                lastX = m2[0];
                lastY = m2[1];
                pathArray[pathArray.length] = {'x': lastX, 'y': lastY};

            } else {
                console.log('else else');
            }
        }

        svg.on('mousemove', mousemove);

        function mousemove() {
            m2 = d3.mouse(this);
            if (isClicking) {
                pathArray[pathArray.length - 1] = {'x': m2[0], 'y': m2[1]};
                updatePath();
            }
        }

    </script>
{% endblock %}