{% load static %}

<html>
<head>
  <title>수질예측 | Water Quality Prediction</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="{% static 'backend/img/favicon.png' %}">
  <link href="{% static 'backend/asset/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
</head>
<body>
  <h1>This is a Heading</h1>
  <p>This is a paragraph.</p>

  <script src="{% static 'backend/asset/jquery/js/jquery.min.js' %}"></script>
  <script src="{% static 'backend/asset/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>