{% extends "backend/layout/base.html" %}
{% load static %}
{% block content %}
    <input id='csrf_token' value='{{ csrf_token }}' hidden>

    <div class="container pt-25 debug">
        <div id="loading">
            <img id="loading-image" src='../../../media/loading.svg' alt="Loading..."/>

        </div>

        <div class="text-center debug">
            <div>
                <span class="main-title">수질 예측시스템</span>
            </div>
            <div>
                <span class="main-title-sub">Water quality prediction system</span>
            </div>
        </div>
        <!-- ##### MODEL #####-->

        <div class="pd-20 debug">

            <div>
                <div class="title">Model Select</div>
                <div style="display: flex; flex-direction: row; justify-content: space-around; ">
                    <button class="btn btn-light" onclick="select_model('A')">
                        <i class="fas fa-download mr-8"></i>한강(MODEL1)
                    </button>
                    <button class="btn btn-light" onclick="select_model('B')">
                        <i class="fas fa-download mr-8"></i>금강(MODEL2)
                    </button>
                    <button class="btn btn-light" onclick="select_model('C')">
                        <i class="fas fa-download mr-8"></i>영산강(MODEL3)
                    </button>
                    <button class="btn btn-light" onclick="select_model('D')">
                        <i class="fas fa-download mr-8"></i>낙동강(MODEL4)
                    </button>
                </div>
            </div>
        </div>


        {#        {% include "backend/new_map.html" %}#}
        {% include "backend/new_map3.html" %}

        {% include "backend/sample_table.html" %}

        <div class="pd-20 debug">
            <div style="display: flex; flex-direction: row;">

                <div class="col-5">
                    <div class="title">측정데이터 선택</div>
                    <select id="column_list">
                        <option value="">모델을 먼저 선택해야합니다.</option>
                    </select>
                </div>
                <div>
                    <div class="title">대상 지점</div>
                    <H2 id="target_point"> 미 지정</H2>
                </div>

                <div hidden>
                    <div class="title">Xsls Upload</div>
                    <form method="post" enctype="multipart/form-data" id="fileUploadForms">
                        {% csrf_token %}
                        <input type="file" name="myfiles" multiple>
                        <button type="submit" class="btn btn-light" id="btnSubmits">
                            <i class="fas fa-download mr-8"></i>Upload
                        </button>
                    </form>
                </div>

            </div>
        </div>
        {% include "backend/new_datepicker.html" %}
        <div class="pd-20 debug">
            <div style="display: flex; flex-direction: row; justify-content: space-around; ">
                {% csrf_token %}
                <div id="upload_active">
                    <button onclick="upload_show()">Custom Data Upload</button>
                </div>
                <div id="upload_active_div">
                    <form method="post" enctype="multipart/form-data" id="fileUploadForm" onSubmit="return false;">
                        <label>측정 DATA 등록</label>
                        {% csrf_token %}
                        <input type="file" name="myfile">
                        <button type="submit" class="btn btn-light" id="acti" onclick="activate()">
                            <i class="fas fa-download mr-8"></i>Activate
                        </button>
                        <button type="button" class="btn btn-light" id="deacti" onclick="deactivate()">
                            <i class="fas fa-download mr-8"></i>Cancel
                        </button>
                    </form>
                </div>

                <div>
                    <button type="button" type='submit' class="btn btn-light" onclick="file_download()" download>
                        <i class="fas fa-chart-line mr-8"></i>샘플 다운로드
                    </button>
                </div>
                <div>
                    <button type="button" class="btn btn-light" onclick="pridict()">
                        <i class="fas fa-chart-line mr-8"></i>예측하기
                    </button>
                </div>
            </div>


        </div>
        <!--
        <div class="pd-20 debug">
            <div class="title">현재 사용중인 모델</div>
            {% if file_list_zip %}재
                <div class="modelname">{{ file_list_zip }}</div>
            {% else %}
                <div class="modelname">현재 모델이 존재하지 않습니다</div>
            {% endif %}
        </div>
        -->

        {% include "backend/chart.html" %}


    </div>
{% endblock %}


{% block javascript %}
    <script>
        $('#upload_active_div').hide();
        $('#loading').hide();
        var upload_df = 'N'
        <!-- model 별 위치를 위한 map setting-->
        var options = { //지도를 생성할 때 필요한 기본 옵션
            center: new kakao.maps.LatLng(36.5, 127.5), //지도의 중심좌표.
            level: 10//지도의 레벨(확대, 축소 정도)
        };
        var map = new kakao.maps.Map(container, options); //지도 생성 및 객체 리턴

        var model_activate = ''

        function pridict() {
            if ($('#column_list').children().length == 1) {
                alert("Model 선택은 필수사항입니다");
            } else if ($('#start-train').val() == "") {
                alert("날짜 선택은 필수사항입니다");
            } else {
                $('#loading').show();
                $.ajax({
                    url: "{% url "predict" %}",
                    data: {
                        csrfmiddlewaretoken: $("#csrf_token").val(),
                        "key": $('#column_list').val(),
                        "model": model_activate,
                        "start_date": formatDate(_startTrain),
                        "end_date": formatDate(_endTrain),
                        "predict_start_date": formatDate(_startPredict),
                        "predict_end_date": formatDate(_endPredict),
                        "upload_df":upload_df
                    },
                    type: "POST",
                    dataType: "json"
                }).done(function (data) {
                    if (data.return == 'fail') {
                        alert("predict_fail");
                        $('#loading').hide();
                    } else {
                        let water_arr = Array();
                        let graph_arr = Array();

                        $('#loading').hide();
                        // chart_data
                        _predictWater.data.datasets[0].data = data.predict_water;
                        _predictWater.data.datasets[0].backgroundColor = data.color;
                        // chart_column
                        _predictWater.options.title.text = data.column;
                        // chart_labels
                        for (let i = 10; i < 15; i++) {
                            tmp_date = new Date($("#start-train").val());
                            tmp_date.setDate(_startTrain.getDate() + i);
                            let A = formatDate(tmp_date);
                            water_arr.push(A)
                        }
                        _predictWater.data.labels = water_arr
                        _predictWater.update();

                        for (let i = 0; i < 15; i++) {
                            tmp_date = new Date($("#start-train").val());
                            tmp_date.setDate(_startTrain.getDate() + i);
                            let A = formatDate(tmp_date);
                            graph_arr.push(A)

                        }
                        _predictGraph.data.labels = graph_arr
                        _predictGraph.data.datasets[0].data = data.predict_cahrt.origin;
                        _predictGraph.data.datasets[1].data = data.predict_cahrt.origin_2;
                        _predictGraph.data.datasets[2].data = data.predict_cahrt.predict;
                        _predictGraph.update();

                        _rain_chart.data.labels = graph_arr
                        _rain_chart.data.datasets[0].data = data.rain_chart.rain_list;
                        _rain_chart.data.datasets[1].data = data.rain_chart.temp_list;
                        _rain_chart.update();


                    }
                })
            }

        };

        function select_model(param) {

            $.ajax({
                url: "{% url "call_model" %}",
                data: {
                    csrfmiddlewaretoken: $("#csrf_token").val(),
                    "param": param
                },
                type: "POST",
                dataType: "json"
            }).done(function (data) {
                model_activate = param
                let map_info = data.web_info.map_info
                $('#column_list').empty();
                for (let i = 0; i < (data.web_info.column).length; i++) {
                    let col_dict = data.web_info.column
                    for (let key in col_dict[i]) {
                        $('#column_list').append("<option value=" + key + ">" + col_dict[i][key] + "</option>")
                    }
                }
                $('#target_point').text(data.web_info.target_point);
                options = { //지도를 생성할 때 필요한 기본 옵션
                    center: new kakao.maps.LatLng(data.x, data.y), //지도의 중심좌표.
                    level: 10//지도의 레벨(확대, 축소 정도)
                };
                // 모델별 지도 중심위치 지정
                map = new kakao.maps.Map(container, options); //지도 생성 및 객체 리턴
                load_map_data(map_info);
            })
        };
        function activate(){
            var form = $('#fileUploadForm')[0];
            var data = new FormData(form);
            data.append('start_date', $('#start-train').val());
            data.append('end_date', $('#end-predict').val());
            $.ajax({
                type: "POST",
                enctype: 'multipart/form-data',
                url: "{% url "file_upload" %}",
                data: data,
                processData: false,
                contentType: false,
                cache: false,
                timeout: 600000,
                success: function (data) {
                    $('#acti').css('border', 'solid');
                    $('#deacti').css('border', 'none');
                    upload_df = "Y"
                    alert("complete");

                },
                error: function (e) {
                    console.log("ERROR : ", e);
                    $('#acti').css('border', 'none');
                    $('#deacti').css('border', 'solid');
                    upload_df = "Y"
                    alert("fail");
                }
            });
        }

        function deactivate() {
            upload_df = 'N'
            $('#acti').css('border', 'none');
            $('#deacti').css('border', 'solid black');
            $('#upload_active_div').hide();

        }

        $("#btnSubmits").click(function (event) {
            event.preventDefault();
            var form = $('#fileUploadForms')[0];
            var data = new FormData(form);

            alert('data', data);
            $.ajax({
                type: "POST",
                enctype: 'multipart/form-data',
                url: "{% url "multi_file_upload" %}",
                data: data,
                processData: false,
                contentType: false,
                cache: false,
                timeout: 600000,
                success: function (data) {
                    alert("complete");
                },
                error: function (e) {
                    console.log("ERROR : ", e);
                    alert("fail");
                }
            });

        });


        function file_download() {
            var url = "../../../media/sample_excel.xlsx";
            location.href = url;
        }
        function upload_show() {
            $('#upload_active').hide();
            $('#upload_active_div').show();
        }

    </script>
{% endblock %}