{% extends "backend/layout/base.html" %}

{% block content %}
  <div class="container debug">
  
    <div class="debug">
      title
    </div>

    <div class="debug">
      input
    </div>

    <div class="debug">
      map
    </div>

    <div class="debug">
      학습기간
    </div>

    <div class="debug">
      예측기간
    </div>

    <div class="debug">
      학습
    </div>

    <div class="debug">
      예측
    </div>

    <div class="debug">
      모델저장
    </div>

    <div class="debug">
      모델불러오기
    </div>

    <div class="debug">
      예측 그래프
    </div>

    <div class="debug">
      예측 수질
    </div>

    <div class="debug">
      예측 강우량 및 기온
    </div>
  </div>
  {% comment %} <form action="/file-upload" class="dropzone" id="my-awesome-dropzone"></form> {% endcomment %}
{% endblock %}