{% extends "backend/layout/base.html" %}

{% block content %}
  <div class="container pt-25 debug">
    <div class="pd-20 debug">
      <div class="title">기본</div>
      <div class="row">
        <div class="col">
          
          <div class="row">
            <div class="col-6">
              <label for="start-train" class="form-label">학습 시작일</label>
              <input type="text" class="form-control" id="start-train" placeholder="yyyy-mm-dd">
            </div>
            <div class="col-6">
              <label for="end-train" class="form-label">학습 종료일</label>
              <input type="text" class="form-control" id="end-train" placeholder="yyyy-mm-dd">
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <div class="col-6">
              <label for="start-predict" class="form-label">예측 시작일</label>
              <input type="text" class="form-control" id="start-predict" placeholder="yyyy-mm-dd" disabled>
            </div>
            <div class="col-6">
              <label for="end-predict" class="form-label">예측 종료일</label>
              <input type="text" class="form-control" id="end-predict" placeholder="yyyy-mm-dd">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block javascript %}
<script>
function formatDate(date) {
    var d = new Date(date),
        month = '' + (d.getMonth() + 1),
        day = '' + d.getDate(),
        year = d.getFullYear();
    if (month.length < 2) 
        month = '0' + month;
    if (day.length < 2) 
        day = '0' + day;
    return [year, month, day].join('-');
}

$(function() {
  var datepicker_param = {
    dateFormat: 'yy-mm-dd',
    prevText: '이전 달',
    nextText: '다음 달',
    monthNames: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
    monthNamesShort: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
    dayNames: ['일', '월', '화', '수', '목', '금', '토'],
    dayNamesShort: ['일', '월', '화', '수', '목', '금', '토'],
    dayNamesMin: ['일', '월', '화', '수', '목', '금', '토'],
    showMonthAfterYear: true,
    yearSuffix: '년'
  }

  $("#start-train").datepicker(datepicker_param);
  $("#end-train").datepicker(datepicker_param);
  $("#start-predict").datepicker(datepicker_param);
  $("#end-predict").datepicker(datepicker_param);

  $('#start-train').change(function() {
    // 학습 종료일 초기화
    $('#end-train').val('');
  })

  $('#end-train').change(function() {
    var endTrain = $("#end-train").val();
    var startTrain = $("#start-train").val();

    // 학습 종료일 유효성 (1)
    if (startTrain == '') {
      alert('학습 시작일을 먼저 선택하십시오.');
      $("#end-train").val('');
      return false;
    }

    // 학습 종료일 유효성 (2)
    var _startTrain = new Date(startTrain);
    var _endTrain = new Date(endTrain);

    if (_startTrain > _endTrain) {
      alert('학습 종료일이 학습 시작일보다 클 수 없습니다.');
      $("#end-train").val('');
      $("#start-predict").val('');
      $("#end-predict").val('');
      return false;
    }
    
    // 예측 시작일 자동 주입
    var date = new Date(endTrain);
    date.setDate(date.getDate() + 1);
    var setValue = formatDate(date)
    $('#start-predict').datepicker("setDate", setValue);

    // 예측 종료일 초기화
    $('#end-predict').val('');
  })

  $('#end-predict').change(function() {
    var startPredict = $('#start-predict').val();
    var endPredict = $('#end-predict').val();

    // 예측 종료일 유효성 (1)
    if (startPredict == '') {
      alert('예측 시작일을 먼저 선택하십시오.');
      $("#end-predict").val('');
      return false;
    }

    // 예측 종료일 유효성 (2)
    var _startPredict = new Date(startPredict);
    var _endPredict = new Date(endPredict);

    if (_startPredict > _endPredict) {
      alert('예측 종료일이 예측 시작일보다 클 수 없습니다.');
      $("#end-predict").val('');
      return false;
    }

    // 예측 종료일 유효성 (3)
    var _startPredict = new Date(startPredict);
    var _endPredict = new Date(endPredict);

    _startPredict.setDate(_startPredict.getDate() + 5);

    if (_startPredict < _endPredict) {
      alert('예측 종료일은 예측 시작일로부터 5일 이내의 값만 가능합니다.');
      $('#end-predict').val('');
      return false;
    }
  })
});
</script>
{% endblock %}