{% load static %}

<link href="{% static 'backend/asset/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'backend/asset/dropzone/css/basic.min.css' %}" rel="stylesheet">
<link href="{% static 'backend/asset/dropzone/css/dropzone.min.css' %}" rel="stylesheet">
<link href="{% static 'backend/asset/jquery-ui/css/jquery-ui.css' %}" rel="stylesheet">
<link href="{% static 'backend/asset/jquery-ui/css/jquery-ui.custom.css' %}" rel="stylesheet">
<link href="{% static 'backend/asset/fontawesome/css/all.css' %}" rel="stylesheet">
<link href="{% static 'backend/css/style.css' %}" rel="stylesheet">
