.dropzone {
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white !important;
}

.debug {
  border: solid 0px #aa97ff;
}

.pb-20 {
  padding-bottom: 20px;
}

.pd-20 {
  padding: 20px;
}

.pd-25 {
  padding: 25px;
}

.pd-30 {
  padding: 50px;
}

.pt-25 {
  padding-top: 25px;
}

.mr-5 {
  margin-right: 5px;
}

.mr-8 {
  margin-right: 8px;
}

.fw-bold {
  font-weight: bold;
}

.title {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 22px;
}

.main-title {
  font-size: 28px;
  font-weight: bold;
}

.color-skyblue {
  color: deepskyblue;
}

.main-title-sub {
  color: #b9b9b9;
}

.btn-skyblue {
  background: #cee2ff;
  width:24%;
}

.btn-select-sub {
  background: #ececec;
  padding: 5px 20px;
  border: none;
}

.to_where {
  background-color: #ffe7e7;
  margin-left: 105px;
  width: 130px;
  text-align: center;
  padding-top: 3px;
  vertical-align: middle;
  height: 33px;
  font-size: 18px;
  border-radius: 5px;
}