{% extends "include/base.html" %}
{% load static %}
{% block content %}
    <div class="sub_wrap">
	    <div class="sub_title">
	        <div class="inner">
	            <h1>사업 소개</h1>
	            <div class="page-navi">
	                <span>수질 예측 시스템</span>
	                <span class="active">데이터 활용</span>
	            </div>
	        </div>
	    </div>
	    <div class="sub_content">
	        <div class="inner">

	            <div class="intro_box">

                  <section style="display:inline-block; text-align:left;">
                    <h4>AI 학습 모델</h4>
                    <div style="margin-top:10px; font-size:16px; line-height:22px;">AI 학습 모델에 활용할 Input Data를 GAIN알고리즘을 활용하여 Input Data의 결측치를 보간하는 전처리작업 후 RNN알고리즘 기반으로 개발된 AI 학습 모델에 적용하여 예측결과를 산출합니다.</div>
                    <h5 style="font-size:17px; margin-bottom:10px;" class="mt50">AI 학습 모델의 흐름도</h5>
                    <img class="mt10" src="../static/assets/images/common/business0501.png" alt="AI 학습 모델의 흐름도" />
                    <h5 style="font-size:17px; margin-bottom:10px;" class="mt50">GAIN의 Architecture</h5>
                    <img class="mt10" src="../static/assets/images/common/business0502.png" alt="GAIN의 Architecture" />
                    <h5 style="font-size:17px; margin-bottom:10px;" class="mt50">RNN의 Architecture</h5>
                    <img class="mt10" src="../static/assets/images/common/business0503.png" alt="RNN의 Architecture" />
                  </section>


                  <section class="mt70" style="display:inline-block; text-align:left;">
                    <h4>AI 응용서비스</h4>
                    <div style="margin-top:10px; font-size:16px; line-height:22px;">4대강 상수원보호구역중 한 개의 지점을 목표로 설정하고 상류(2~3개지점)를 함께 고려하여 한 시간 단위의 측정 데이터가 있는 자동측정망 자료를 기준으로 하여 시간 단위가 다른 측정망의 경우 한 시간 단위로 변환하여 사용하고, 과거 10일의 측정치를 가지고 미래 3~5일 후의 5개 측정항목을 예측합니다.</div>
                    <div style="margin-top:10px; font-size:16px; line-height:22px;">예측항목 : TOC(총 유기탄소량), Chl-a(클로로필-a), DO(용존 산소량), T-N(총 질소), T-P(총 인)</div>
                    <h5 style="font-size:17px; margin-bottom:10px;" class="mt50">4대강 예측지점</h5>
                    <img class="mt10" src="../static/assets/images/common/business0504.png" alt="4대강 예측지점" />
                    <h5 style="font-size:17px; margin-bottom:10px;" class="mt50">AI 응용서비스 구성도</h5>
                    <img class="mt10" src="../static/assets/images/common/business0505.png" alt="AI 응용서비스 구성도" />
                  </section>

                  <section class="mt70" style="display:inline-block; text-align:left;">
                    <h4>응용서비스 활용 시나리오</h4>
                    <h5 style="font-size:17px; margin-bottom:10px;" class="mt30">수질예측 AI모델을 활용한 지하수 측정결과와의 상관 관계 활용 시나리오 </h5>
                    <div style="margin-top:10px; font-size:16px; line-height:22px;">토양의 지하 침출수 등 토양오염 측정 결과와 하천 수질과의 관계성을 분석하기 위해 토양 지하수 관련 데이터를 수질예측 AI의 학습 데이터와 상관 분석을 적용하여, 지하수 오염이 하천의 수질 오염에 영향도를 분석하여 토양과 수질의 복합적인 활용을 연구할 수 있는 AI 모델 제공</div>
                    <img class="mt30" src="../static/assets/images/common/business0506.png" alt="응용서비스 활용 시나리오" />
                  </section>


	            </div>
	        </div>
	    </div>
  </div>
{% endblock %}


{% block javascript %}
    <script>

    </script>

{% endblock %}
