{% extends "include/base.html" %}
{% load static %}
{% block content %}
    <div class="sub_wrap">
	    <div class="sub_title">
	        <div class="inner">
	            <h1>사업 소개</h1>
	            <div class="page-navi">
	                <span>수질 예측 시스템</span>
	                <span class="active">데이터 정제</span>
	            </div>
	        </div>
	    </div>
	    <div class="sub_content">
	        <div class="inner">

	            <div class="intro_box">

                 <section style="display:inline-block; text-align:left;">
                  <h4>데이터 정제 종류</h4>
                      <ul style="background: #eee;padding: 20px;list-style: disc;font-size: 15px;padding-left: 40px !important;line-height: 23px; margin-top:20px;">
                        <li>이상치 제거: 신뢰구간 내 포함여부를 판별하여 이상치를 식별 및 제거</li>
                        <li>불완전 데이터 제거 : 측정소명, 측정소코드, 주소 부재로 인한 공간매핑 가공작업 불가한 데이터 및 해면지역으로써 집수구역 매핑 불가한 데이터 제거</li>
                      </ul>
              	 </section>


                 <section class="mt50" style="display:inline-block; text-align:left;">
                  <h4>이상치 데이터 정제 처리 절차</h4>
                  <img class="mt10" src="../static/assets/images/common/business0301.png" alt="이상치 데이터 정제 처리 절차" />
              	 </section>


                 <section class="mt50" style="display:inline-block; text-align:left;">
                  <h4>불완전 데이터 제거 절차</h4>
                  <img class="mt10" src="../static/assets/images/common/business0302.png" alt="불완전 데이터 제거 절차" />
              	 </section>


                  <section class="mt50">
  	            		<h4 class="cl">데이터별 이상치 정제 기준 및 예외 정의</h4>
  	            	</section>

                  <section>
                      <table class="tbl_basic">
                          <colgroup>
                               <col width="20%">
                               <col width="12%">
                               <col width="8%">
                               <col width="60%">
                          </colgroup>
                          <thead>
                            <tr>
                              <th>데이터 분류</th>
                              <th>자료 형태</th>
                              <th>적용 여부</th>
                              <th>정제기준 및 예외사항</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>물환경측정망</td>
                              <td>측정</td>
                              <td>○</td>
                              <td>수질자료를기준으로 통계적 검정방법을 통해 이상치 정제※KRF의 경우 환경부 국립환경과학원에서 원본자료 데이터 SET을 제작하고,제공받은 형태로 GIS에 구현하는 데이터로 정제단계 제외</td>
                            </tr>
                            <tr>
                              <td>인구, 가구 및 주택 통계</td>
                              <td>조사</td>
                              <td>X</td>
                              <td>통계청에서진행하고 발표한 조사자료로 별도의 정제 시 원본자료 훼손의 문제가 발생될 수 있기에 정제단계 제외</td>
                            </tr>
                            <tr>
                              <td>수질TMS</td>
                              <td>측정</td>
                              <td>○</td>
                              <td>수질자료를기준으로 통계적 검정방법을 통해 이상치 정제</td>
                            </tr>
                            <tr>
                              <td>녹조(조류)모니터링</td>
                              <td>측정</td>
                              <td>○</td>
                              <td>수질자료를기준으로 통계적 검정방법을 통해 이상치 정제</td>
                            </tr>
                            <tr>
                              <td>수리,수문,기상</td>
                              <td>조사&amp;외부기관연계</td>
                              <td>X</td>
                              <td>유량, 유속, 기상에 대한 조사 및 외부 기관에서 연계받은 데이터를 관리하는 자료로 수질 특성과 다른 특성의 데이터이고, 정제 시 원본자료 훼손의 문제가 발생될 수 있기에 정제단계 제외</td>
                            </tr>
                            <tr>
                              <td>전국오염원조사자료</td>
                              <td>조사</td>
                              <td>X</td>
                              <td>전국오염원에 대한 조사자료로 별도의 정제 시 원본자료 훼손의 문제가 발생될 수 있기에 정제단계 제외</td>
                            </tr>
                            <tr>
                              <td>기상자료(AWS)</td>
                              <td>측정</td>
                              <td>X</td>
                              <td>기상청에서측정 후 별도의 정제과정을 거쳐 대국민에게 공개하는 데이터로 별도의 정제 시 원본자료 훼손의 문제가 발생될 수 있기에 정제단계 제외</td>
                            </tr>
                            <tr>
                              <td>종관기상관측(ASOS)</td>
                              <td>측정</td>
                              <td>X</td>
                              <td>기상청에서측정 후 별도의 정제과정을 거쳐 대국민에게 공개하는 데이터로 별도의 정제 시 원본자료 훼손의 문제가 발생될 수 있기에 정제단계 제외</td>
                            </tr>
                          </tbody>
  							        </table>
	             </section>



	            </div>
	        </div>
	    </div>
  </div>
{% endblock %}


{% block javascript %}
    <script>

    </script>

{% endblock %}
